<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="RobotDB" connectionString="Data Source=KASPARO-NB\SQLEXPRESS;Initial Catalog=RobotHand;User ID=app_robot_user;Password=heslo"/>
  </connectionStrings>
  <appSettings>
    
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>